<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Bubbles
		link(href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="main.css")
		script(src="logo_points.js")
	body
		canvas#myCanvas
		script(src="bubbles.js")
		
		.card
			header CTK PRO TAIWAN
			article 
				p I want to apply for Front-End Developer in 2019.
				p Familiar with knowledge Html5/Pug , Css3/Sass , Javascript.
				p Attention to detail and a good general sense of design.
				p Good communication skills and a desire to collaborate with the team. 